<% provide(:home_active, 'active') %>

<div class="container">
   <h1 class="text-center py-5">Our Services</h1>
   <div class="row">
      <div class="col-lg-4">
         <div class="card shadow-2">
         <img
            src="https://www.lifebeyondhepatitisc.com/wp-content/uploads/2012/03/iStock_000017403883Small.jpg"
            class="card-img-top"
            height="220px"
            alt="..."
         />
         <div class="card-body">
            <h5 class="card-title">Tours And Travels</h5>
         </div>
      </div>
      <br>
      </div>
      <div class="col-lg-4">
         <div class="card">
         <img
            src="https://www.open.edu/openlearn/sites/www.open.edu.openlearn/files/for-study-1.jpg"
            class="card-img-top"
            height="220px"
            alt="..."
         />
         <div class="card-body">
            <h5 class="card-title">Student Visa Assistance</h5>
         </div>
      </div>
      </div>
      <div class="col-lg-4">
         <div class="card">
         <img
            src="https://images.pexels.com/photos/7018003/pexels-photo-7018003.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="card-img-top"
            height="220px"
            alt="..."
         />
         <div class="card-body">
            <h5 class="card-title">Migration Assistance</h5>
         </div>
      </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-4">
         <div class="card">
         <img
            src="https://lbrcontent.affino.com/AcuCustom/Sitename/DAM/011/Pic1.jpg"
            class="card-img-top"
            height="220px"
            alt="..."
         />
         <div class="card-body">
            <h5 class="card-title">Immigration Assistance</h5>
         </div>
      </div>
      </div>
      <div class="col-lg-4">
         <div class="card">
         <img
            src="https://upload.wikimedia.org/wikipedia/commons/3/37/Money-2180330_1920.jpg"
            class="card-img-top"
            height="220px"
            alt="..."
         />
         <div class="card-body">
            <h5 class="card-title">Students Block Money Assistance</h5>
         </div>
      </div>
      </div>
      <div class="col-lg-4">
         <div class="card">
         <img
            src="https://e-file.huawei.com/-/media/EBG/Images/case-study/airport/airport-banner-wap2.jpg"
            class="card-img-top"
            height="220px"
            alt="..."
         />
         <div class="card-body">
            <h5 class="card-title">Airport Pickup</h5>
         </div>
      </div>
      </div>
   </div>
</div>