<% provide(:page_title, 'Tracking') %>
<% provide(:tracking_active, 'active') %>

<%= render 'shared/nav' %>

<div class="container-fluid">
  <div class="row justify-content-center" style="margin-top: 20vh">
    <div class="col-lg-8">
      <div style="margin-top: 25px">
         <div class="card p-3">
            <div class="card-body">
               <div class="text-center">
                  <%= image_tag('Brand.png')%>
               </div>
               <h4 class="card-title py-4">Track Your Application Progress</h4>
               <!-------------- Search ------------->
               <%= form_tag result_path, method: :get do %>
                  <%= text_field_tag :search, params[:search], :class=>'py-2 form-control ml-3 w-160', placeholder:'Application ID / Your Name' %>
               <% end %>
               <!-------------/ Search ------------->
            </div>
         </div>
      </div>
    </div>
  </div>
</div>